<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
      @Html.ActionLink("Home", "Index", "Home")&emsp;
        @Html.ActionLink("Clients", "Index", "Clients")&emsp;
        @Html.ActionLink("Brokerages", "Index", "Brokerages")&emsp; 
       
    </div>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
         @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
